.main-container{
  height: auto;
  .b_fg();
  .flex-col();

  .homeJumboIMG{
    max-width: 88rem;
    width: 100%;
    top: 0;
  }

  header {
    height: 100%;
    overflow: hidden;
    max-height: 520px;

    position: relative; //  MUST BE HERE to make children position
  }

  #tagline{
    .JumboHeader();

    position: absolute;  // MUST BE HERE to position relative to parent
    left: 10%;
    top: 55%;  // use with relative
    z-index: 3;
    overflow: hidden;
  }

  .top{
    .b_rb();
    width: 90%;

    .top-content{
      .flex-row();
      padding: 2rem 0;
      .top-text{
        .background();
        padding: 1rem;
        width: 50%;
        .top-h2{
          .subHeader();
        }
        .top-p{
          .genText();
        }
        .learnMore{
          .genText();
          border: 1px solid black;
          margin: 1rem;
          width: 40%;
          text-align: center;
        }
      }

      .topIMG{
        width: 50%;
        img{
          max-width: 410px;
          width: 100%;
        }
      }


    }  // end top-content

    .imgRight{
      .top-text{
        order: 1;
      }
      .topIMG{
        order: 2;
      }
    }

    .imgLeft {
      .top-text{
        order: 2;
      }
      .topIMG{
        order: 1;
      }
    }



  }  // end top




}

