.main-container{
  .flex-col();


  .homeJumboIMG{
    max-width: 88rem;
    width: 100%;
    top: 0;
  }

  header {
    .b_fg();
    //  max-height: 35rem;
    //  height: 100%;
    overflow: hidden;
  }

  #tagline{
    .b_dp();
    .JumboHeader();
    max-width: 150px;
    position: relative;
    left: 10%;
    top: -250px;
    z-index: 3;
  }



}


