

.projects-container {

  header{
    position: relative;
    width: 100%;
    .projectsJumboIMG{
      .b_fg();
      max-width: 88rem;
      width: 100%;
      @media @mob500 {
        display: none;
      }

    }
    .projectsJumboIMG_mobile {
      display: none;
      @media @mob500 {
        display: block;
        max-width: 500px;
        width: 100%;

      }
    }

    #overText {
      .JumboHeader();
      position: absolute;  // MUST BE HERE to position relative to parent
      left: 5%;
      top: 52%;  // use with relative
      z-index: 3;
      display: none;
      @media @mob500 {
        top: 70%;
      }
    }

  } // end header

  .project-BTNcontent {
    .b_fg();

    .BTN-info{
      .b_dp();
       display: none;
   //   .flex-col();
       margin: 2rem 0;

      .BTN_h2{
        .b_rb();
        .JumboHeader();
        width: 100%;
        color: #5E9FB9;
        text-align: center;
      }

      .BTN-txt {
        .b_msg();
        width: 96%;
        .BTN_p{
          .b_gr();
          .genText();
          padding: 1rem 0;
        }
      }
      .BTN_slide_extra_content {
        .b_fg();
        width: 96%;
        .flex-row();
        .BTN_slide_extra {
          .b_dp();
          width: 32%;
          .flex-row();
          .BTN_slide_h3{
            width: 100%;
            .SlideHeader();
          }
          .extraIMG{
            img {
              width: 100%;
            }
          }
          .BTN_slide_p {
            .b_gr();
            width: 100%;
            .genText();
            padding: 1rem;
          }
        } // end BTN_slide_extra
      }



    }  // BTN-info

    .active{
      .flex-col();

    }

  }






} // end projects container