

.services-container{
  .b_rb();


  header{
    position: relative;

    .servicesJumboIMG{
      max-width: 88rem;
      width: 100%;

    }

    #overText {
      .JumboHeader();
      position: absolute;  // MUST BE HERE to position relative to parent
      left: 10%;
      top: 55%;  // use with relative
      z-index: 3;
      overflow: hidden;
    }

  }

  .services-content{
    .flex-col();
    width: 90%;
    margin: 0 auto;
    .topContent {
      .b_dp();

      .services-text{
        .genText();
      }

    }


  }  // end services-content

  .tabbed-content{
    .b_fg();
    .flex-row();
    .tabs-container{
      .b_db();
      width: 100%;
      .flex-row();
    }
    .tab-info{
      .b_rb();
      .flex-row();
      .tab-text{
        .b_fg();
        width: 50%;
        .flex-col();
      }
      .tabIMG{
        width: 50%;
        img{
          max-width: 480px;
          width: 100%;
        }
      }
    }




  }



} // end services-container






